.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}