.fenster-container {
    border: 1px solid #000000;
    min-width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}
