.fenster-container {
    position: fixed;
    top: 20px;
    margin-bottom: 20px;
    left: max(20%, 260px);
    height: 96vh;
    width: 79vw;
    background-color:#000000; /* Farbe Schwarz damit man es erkennt, später helgrau wie sidebar */
    border-radius: 26px;
    overflow: auto;
}
