.app-container {
    height: 100vh;
    width: 100vw;
    background-color:#f9f9f9;
}

.calendar-widget {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.calendar-events-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}