.app-container {
    height: 100vh;
    width: 100vw;
    background-color:#f9f9f9;
}

.calendar-widget.widget-card {
    height: auto !important;
}

.calendar-events-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.maps-widget.widget-card {
    height: auto !important;
}

.maps-widget .widget-body {
    height: 100%;
}

.currency-widget.widget-card {
    height: auto !important;
}